.footeritemcontainer {
  display: flex;
  flex-direction: row;
  height: 40vh;
  width: 100%;
  padding: 3rem 0;
  color: #c2c1c1;
}

.itemLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.footerHead {
  font-size: 1.4rem !important;
  margin-bottom: 0.8rem !important;
}
.footerText {
  font-size: 0.9rem !important;
}
.footerTextLink {
  font-size: 1.2rem !important;
  margin-bottom: 0.8rem !important;
  color: #57c8eb;
}

.itemRight {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .footeritemcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 0;
  }

  .itemLeft {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footerHead {
    font-size: 1.2rem !important;
    margin-bottom: 0.1rem !important;
    margin-top: 0.4rem !important;
  }
  .footerText {
    font-size: 0.9rem !important;
    margin-top: 0.8rem !important;
  }
  .footerTextLink {
    font-size: 1.2rem !important;
    margin-bottom: 0.8rem !important;
    color: #57c8eb;
  }

  .itemRight {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
