.registerContainer {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  width: 60%;
  box-shadow: 0px 0px 2px 0px rgb(201, 197, 201);
  margin: 0 auto;
  border-radius: 0 !important;
}
.registerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .registerContainer {
    width: 100%;
    box-shadow: 0px 0px 1px 0px rgb(201, 197, 201);
  }
  .loginContent {
    width: 80%;
  }
}
